.scroll-down,.scroll-up,.scroll-left,.scroll-right{
    outline: none;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
    // opacity: 0.5;
    &:hover{
        opacity: 0.6;
        cursor: pointer;
    }
}

.cover-page-container{
    display:flex;
    justify-content: center;
    align-items:center;
     width: 98vw;
    height:100vh;

      img{
        width: 40vw;
        height: auto;
        max-height:450px;
        max-width:350px;
      }

      .span-introduction{
          padding: 8px;
          font-size: 1.5rem;
          color: var(--text-color);
      }
      .blinker{
          animation: blinking 500ms infinite;
      }

      .view-my-profile{
        transition: background-color 150ms ease;
        background: transparent;
        border: 2px solid var(--text-color);
        color: var(--text-color);
        padding: 12px 8px;
        font-size: 1.25rem;
        outline: none;
        &:hover{
            cursor: pointer;
            background: var(--text-color);
            color: var(--page-background);
            .fa-arrow-right{
                transform: rotate(90deg);
            }
        }

        .fa-arrow-right{
            transition: transform 300ms ease;
            font-weight: 100;
            margin-left: 8px;
        }
    }
}



@keyframes blinking{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

.left-profile{
    color: var(--page-background);
    a, i{
        width: fit-content;
        color: var(--page-background);
        font-size: inherit;
    }
    .fa-envelope, .fa-phone-square{
        cursor: pointer;
    }
    .profile{
        ::after{
            content: '';
            height: 20px;
            width: 20px;
            position: absolute;
            top: 97%;
            left: 10%;
            background-color: var(--page-background);
            transform: rotate(45deg)
        }
    }
}

.company-bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    opacity: 0.7;
    ::before{
        display: block;
        // width: 100%;
        // height: 100%;
        content: '';
        opacity: .5;
        background-image: linear-gradient(234deg,#394245,#000);
    }
}

.accordion-buttton{
    background-color: transparent;
    color: var(--text-color);
    outline: none;
    border:none;
}

.accordion-container{
    overflow: hidden;
    button{
        overflow: hidden;
        transition: background-color 200ms linear ;
        padding: 12px;
        min-height: 75px;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 100%;
    }
    .accordion-content{
        overflow: hidden;
        transition: height 200ms ease-in-out;
    }
}

.timeline{
    padding: 10px 20px;
}

.experience-flex-item{
    cursor: pointer;
    transition: top 200ms linear;
    top: 0;
    &:hover{
        top: -5px;
    }
}

.margin-right{
    margin-right: 8px;
}