body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  background-image: linear-gradient(var(--page-background),var(--gradient-color));
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  line-height: 1;
}

html{
  font-size: 16px;
}

body, div, p, a, nav{
  box-sizing: border-box;
  width: 100%;
  color: var(--text-color);
  font-size: inherit;
}

div, nav{
  font-size: 1rem;
}

div, p, h1, h2, h3, h4{
  line-height: 1.42857143;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: absolute;
  top: 0;
  left: 0;
}

button, span{
  width: fit-content;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  padding-left: 2.5rem;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
body::-webkit-scrollbar {
  display: none;
}

  .light-theme{
    --page-background: #f1ecec;
    --text-color: #11082b;
    --gradient-color: #aec8de;
  }
  .dark-theme{
    --page-background: #11082b;
    --text-color: #f1ecec;
    --gradient-color: #0e0413bf;
  }
